* {padding: 0;
   margin: 0;}
.site {font-family:'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(115px, auto);
}
.header, .main3, .main4, .main5, .main6 {grid-column: 1/3;}
.header, .main1, .main2, .main4 {color: black;
background-color: rgb(240, 240, 240);}
.main3, .main5, .main9, .main10 {color:rgb(255, 255, 255);
background-color:black;}
.main7, .main8 {background-color: rgb(255, 255, 255);}
.main2 img,.main6 img, .main7 img {width: 100%; height: auto;}
.pr2 img, .pr3 img, .pr4 img, .pr5 img, .pr6 img, .pr7 img {width: 100%; height: auto;}
.par1 img, .par2 img, .par3 img {width: 100%; height: auto;}
.header{ display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 40px;}
.main1,.main2, .main5,.main7,.main8, .main9, .main10 {display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center; }
.form1 {font-size:30px; padding: 10px;}
.form2 {font-size:15px; padding: 10px;}
.form3 {font-size:10px; padding-top: 25px; padding-bottom: 10px;}
.form4 {margin: 15px; font-size:10px; text-transform: uppercase; color: rgb(148, 148, 148); border-color:rgb(148, 148, 148); border-style: solid; border-width: 2px; padding: 7px; padding-left: 25px; padding-right: 25px;}
.main2 {padding: 8px; padding-bottom: 35px;}
.main7 {padding: 3px; padding-right: 15px;}
.form5 {font-size:15px; padding: 6px; padding-top: 30px;}
.form6 {font-size:22px; padding: 6px; padding-bottom: 25px;}
.form7 {font-size:10px; padding: 6px; padding-top: 70px;}
.form8 {font-size:15px; padding: 6px; padding-bottom: 70px;}
.form9 {font-size:22px; padding: 6px; padding-top: 70px;}
.form10 {font-size:10px; padding: 6px; padding-bottom: 70px; color: rgb(148, 148, 148);}
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
.site, .main1, .main2, .main3,.main4,.main5, .main6, .main7, .main8, .main9, .main10 
  {width: 100%;
    max-width: 100%;
    overflow-x: hidden; overflow-y: hidden; 
    word-break: break-word;
}
.main3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(55px, auto);
}
.pr1 {grid-column: 1/4;}
.form11 {font-size:12px; padding-top: 40px;}
.form12 {font-size:22px; padding: 15px;}
.form14 {font-size:10px; padding-bottom: 42px; color: rgb(148, 148, 148);}
.form13 {font-size:10px; padding-bottom: 64px; color: rgb(148, 148, 148);}
@media screen and (min-width: 489px) {
.pr1,.pr2, .pr3,.pr4,.pr5, .pr6, .pr7 {display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center;}
.pr2 {padding-left: 45px;}
.pr3 {padding-left: 25px; padding-right: 25px;}
.pr4 {padding-right: 45px;}
.pr5 {padding-left: 45px;}
.pr6 {padding-left: 25px; padding-right: 25px;}
.pr7 {padding-right: 45px;}
}
@media screen and (max-width: 488px) {
  .pr1,.pr2, .pr3,.pr4,.pr5, .pr6, .pr7 {display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center; width: 100%; height: auto;
  align-self: start;}
  }
  .main4 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(55px, auto);
  }
  .form15 {font-size:15px; padding: 12px;}
  .form16 {font-size:10px;}
  .form17 {margin: 10px; font-size:10px; text-transform: uppercase; color: rgb(148, 148, 148); border-color:rgb(148, 148, 148); border-style: solid; border-width: 2px; padding: 7px; padding-left: 25px; padding-right: 25px;}
  .form18 {font-size:15px; padding-bottom: 30px;}
  @media screen and (min-width: 489px) {
    .par1, .par2, .par3 {display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center;}
    .par1 {padding-left: 10px; padding-right: 10px;}
    .par2 {padding-top: 40px; padding-bottom: 40px;}
    .par3 {padding-left: 20px; padding-right: 20px;}
    }
@media screen and (max-width: 488px) {
      .par1, .par2, .par3  {display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center; width: 100%; height: auto;}
      .form17 {width: 93%; padding-left: 0px; padding-right: 0px;}
      }
